# App
NODE_ENV=development
APP_URL=http://localhost:3000

# PostgreSQL
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# JWT
JWT_SECRET=
JWT_EXPIRATION=900s
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRATION=7d
JWT_EMAIL_SECRET=
JWT_EMAIL_EXPIRATION=1h

# AWS
AWS_REGION=                                                                                                                                                 
AWS_ACCESS_KEY_ID=                                                                                                                                        
AWS_SECRET_ACCESS_KEY=                                                                                                                                      
SES_FROM_EMAIL=
